@tailwind base;
@tailwind components;
@tailwind utilities;

.polygon-clip {
  clip-path: polygon(100% 0%, 100% 100%, 60% 85%, 0% 100%, 0% 0%);
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 60% 85%, 0% 100%, 0% 0%);
  border-radius: 0.4rem;
}

